/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  --background-image: url('../images/cover-image-dark.png');
  --background-color: #000028;
  --accent-color: #FF0070;
  --article-title-color: #FF0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --header-text-color: #000028;
  --shadow-color: #FF0070;
  --header-elements-color: #FF0070;
  --header-elements-color-hover: rgba(255, 0, 112, 0.4);
  --rec-color: #FF0070;
}

  @media (prefers-color-scheme: dark) {
    :root {
      --background-image: url('../images/cover-image-dark.png');
      --background-color: #000028;
      --accent-color: #FF0070;
      --article-title-color: #FF0070;
      --text-color: #F1B2CE;
      --title-color: #DB00FF;
      --header-text-color: #000028;
      --shadow-color: #FF0070;
      --header-elements-color: #FF0070;
      --header-elements-color-hover: rgba(255, 0, 112, 0.4);
      --rec-color: #FF0070;
    }
  }