/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme_dark {
  --background-image: url('/images/cover-image-dark.png');
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --header-text-color: #000028;
  --shadow-color: #FF0070;
  --header-elements-color: #FF0070;
  --rec-color: #FF0070;
}

.page.theme_dark {
  background-image: var(--background-image);
}

.theme_dark.header-description {
  color: var(--header-text-color);
}

.theme_dark.header__theme-menu-item {
  color: var(--header-elements-color);
}

.theme_dark.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid #FF0070;
}

.theme_dark.header__theme-menu-button:not(.header__theme-menu-button_active):focus::after {
  background-color: var(--header-elements-color);
}

.theme_dark.header__theme-menu-button_active {
  border: 1px solid var(--header-elements-color);
}

.theme_dark.rec {
  color: var(--rec-color);
}

.theme_dark.rec::after {
  background-color: var(--rec-color);
  box-shadow: 0 0 4px 2px var(--rec-color);
}

.theme_dark.header-title {
  color: var(--title-color);
  text-shadow: 4px 4px var(--shadow-color);
}

.theme_dark.header-description {
  background-color: var(--header-text-color);
}

.theme_dark.header-text {
  color: var(--header-text-color);
}

.theme_dark.half-quater-right {
  border-right: 1px solid var(--header-elements-color);
  border-top: 1px solid var(--header-elements-color);
}

.theme_dark.half-quater-left {
  border-left: 1px solid var(--header-elements-color);
  border-bottom: 1px solid var(--header-elements-color);
}

.theme_dark.title {
  color: var(--accent-color);
}

.theme_dark.subtitle {
  color: var(--header-text-color);
  background-color: var(--accent-color);
}

.theme_dark.article-text {
  color: var(--text-color);
}

.theme_dark.footer-text {
  color: var(--title-color);
  text-shadow: 2px 2px var(--shadow-color);
}

.theme_dark.word-link {
  text-shadow: 3px 3px var(--accent-color);
}

.theme_dark.word-link:hover::after {
  background-color: var(--text-color);
}

.theme_dark.word-link:focus {
  border: 1px solid var(--text-color);
}

  @media (prefers-color-scheme: dark) {
    :root {
      --background-image: url('/images/cover-image-dark.png');
      --accent-color: #FF0070;
      --text-color: #F1B2CE;
      --title-color: #DB00FF;
      --header-text-color: #000028;
    }

    .page {
      background-image: var(--background-image);
    }

    .header-description {
      color: var(--text-color);
    }
    
    .header__theme-menu-button {
      color: var(--accent-color);
    }
    
    .header__theme-menu-button:not(.header__theme-menu-button_active):hover {
      border: 1px solid var(--accent-color);
    }

    .header__theme-menu-button:not(.header__theme-menu-button_active):focus::after {
      background-color: var(--accent-color);
    }
    
    .header__theme-menu-button_active {
      border: 1px solid var(--accent-color);
    }

    .rec {
      color: var(--header-elements-color);
    }
    
    .rec::after {
      background-color: var(--header-elements-color);
      box-shadow: 0 0 4px 2px var(--header-elements-color);
    }
    
    .header-title {
      color: var(--title-color);
      text-shadow: 4px 4px var(--shadow-color);
    }
  
    .header-text {
      color: var(--header-text-color);
    }
    
    .half-quater-right {
      border-right: 1px solid var(--header-elements-color);
      border-top: 1px solid var(--header-elements-color);
    }
    
    .half-quater-left {
      border-left: 1px solid var(--header-elements-color);
      border-bottom: 1px solid var(--header-elements-color);
    }
    
    .title {
      color: var(--accent-color);
    }
    
    .subtitle {
      color: var(--header-text-color);
      background-color: var(--accent-color);
    }
    
    .article-text {
      color: var(--text-color);
    }
    
    .footer-text {
      color: var(--title-color);
      text-shadow: 2px 2px var(--shadow-color);
    }
    
    .word-link {
      text-shadow: 3px 3px var(--accent-color);
    }
    
    .word-link:hover::after {
      background-color: var(--text-color);
    }
    
    .word-link:focus {
      border: 1px solid var(--text-color);
    }
  }