/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --background-image: url('../images/cover-image-light.png');
  --background-color: #fff1f7;
  --accent-color: #FF8DCB;
  --shadow-color: #FF0070;
  --text-color: #353430;
  --article-title-color: #353430;
  --title-color: #FFC2E6;
  --header-elements-color: #353430;
  --header-elements-color-hover: rgba(53, 52, 48, 0.4);
  --rec-color: transparent;
  --header-text-color: #353430;
}